:root {
  --main-font-size: 14px;
  --h1-font-size: 22px;
  --h2-font-size: 16px;
  --h2-line-height: 28px;
  --h3-font-size: 15px;
  --top-spacing: 15px;
  --bottom-spacing: 15px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Times New Roman', Times, serif;
  font-size: var(--main-font-size);
  display: flex;
  justify-content: center;
}


h1 {
  font-size: var(--h1-font-size);
}

h2 {
  font-size: var(--h2-font-size);
  line-height: var(--h2-line-height)
}

h3 {
  font-size: var(--h3-font-size);
}

ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

li  {
  margin-bottom: 3px;
}

.main-content-wrapper {
  width: 800px;
}

header {
  display: flex;
  flex-direction: column;
  align-items: center;
}


.space-top {
  margin-top: var(--top-spacing);
}

.space-bottom {
  margin-bottom: var(--bottom-spacing);
}

.border-bottom {
  border-bottom: solid black 1.5px;
}

.work-experience-card {
}

.work-experience-card a {
  color: black;
}

.work-experience-card ul {
  list-style: disc;
  padding-left: 25px;
}

.experience-heading, .experience-subheading {
  display: flex;
  justify-content: space-between;
}

.experience-heading {
  margin-bottom: 2px;
}

.experience-heading a {
  text-decoration: none;
}

.experience-heading span {
  font-weight: bold;
}

.experience-subheading {
  margin-bottom: 10px;
}

.role {

}

.location-type {
  font-style: italic;
}




